<div class="page__footer-copyright" style="text-align: left;">
    <!-- <img src="{{ site.baseurl }}/assets/logo.png" style="height: 5em; width: 5em;"> -->
    <span id="footer-focus-text-footer">
      Follow us on <a href="https://www.instagram.com/{{ site.instagram.username }}"><i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram</a>
    </span>
</div>

<div class="page__footer-copyright" style="text-align: right;">
    <!-- <br> -->
    <!-- <span id="footer-focus-text-footer">Design by <a href="" target="_blank"><u>Gosu</u></a>.</span> -->

    <span id="footer-focus-text-footer">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.</span>
</div>

